NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb://mongo:27017/taskflow

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=you-key
JWT_EXPIRES_IN=7d

# Rate Limiting (Token Bucket)
RATE_LIMIT_POINTS=20
RATE_LIMIT_DURATION=60
RATE_LIMIT_BURST=5
